.container {
    position: absolute;
    top: 20px;
    text-align: center;
    perspective: 1000px;
}

h1 {
    transform-style: preserve-3d;
    display: inline-flex;
    margin-top: 200px;
    font-size: 190px;
    color: #fafafa;
    cursor: pointer;
}

h1 span {
    pointer-events: none;
    transition: 0.5s;
}

body.light h1 {
    color: #333;
}

@media screen and (max-width: 1024px) {

    .container {
        top: -80px;
    }

    h1 {
        font-size: 150px;
    }

}