.btn {
	display: flex;
    justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	z-index: 2;
	color: #fafafa;
	font-size: 1.5em;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
		5px 5px 30px rgba(0, 0, 0, 0.25),
		inset -2px -2px 5px rgba(0, 0, 0, 0.25),
		inset 2px 2px 5px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	border-radius: 10px;
}

body.light, body.light .btn {
	background: #fafafa;
	color: #333;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
		5px 5px 30px rgba(0, 0, 0, 0.05),
		inset -2px -2px 5px rgba(0, 0, 0, 0.1),
		inset 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.btn:hover {
	color: #DBBDFF;
}

body.light .btn:hover {
	color: #DBBDFF;
}