@import '/css/general.css';
@import '/css/theme__btn.css';
@import '/css/nav__btn.css';

img {
	position: absolute;
	width: 1000px;
	height: 1200px;
	z-index: -1;
}

.container {
	position: relative;
	width: 90%;
	max-width: 480px;
	min-height: 80%;
	padding: 2.5rem 1.875rem 1.875rem;
	border-radius: 1.25rem;
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(255, 255, 255, .3);
	background-color: rgba(255, 255, 255, .3);
	box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	transition: 0.5s ease-out;
}

.calculator {
	position: relative;
	display: grid;
	align-items: center;
}

.calculator .value {
	position: relative;
	left: 0.625rem;
	grid-column: span 4;
	width: calc(100% - 20px);
	height: 100px;
	margin-bottom: 1rem;
	padding: 0.625rem;
	border: none;
	outline: none;
	background: none;
	box-shadow: 0 2px 0 0 #fff;
	text-align: right;
	font-size: 2em;
	color: #fff;
	transition: 2s;
}

::placeholder {
	color: rgb(224, 223, 223);
	transition: 0.5s;
}

::selection {
	background-color: rgba(255, 255, 255, .3);
}

.calculator .touch {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80px;
	height: 80px;
	margin: 0.5rem;
	border-radius: 0.625rem;
	place-items: center;
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(255, 255, 255, .3);
	background-color: rgba(255, 255, 255, .3);
	box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	color: #fff;
	font-weight: bolder;
	cursor: pointer;
	transition: 0.5s;
}

.calculator .touch:hover {
	transform: scale(110%);
}

.calculator .touch i {
	position: inherit;
	font-style: normal;
	font-size: 1.5em;
	transition: 0.5s;
}

.calculator .touch:hover i {
	transform: translateY(-20px);
}

h4 {
	margin-top: -20px;
	opacity: 0;
	transition: 0.5s;
}

.calculator .touch:hover h4 {
	opacity: 1;
}

.calculator .plus {
	grid-row: span 2;
	height: 180px;
}

.container__brackets.active .icon__brackets__touch,
.container__brackets:hover.active .name__brackets,
.container__brackets.active .name__brackets {
	opacity: 0;
}

.div__brackets {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	margin-top: -80px;
	opacity: 0;
	transition: margin-top 0.5s;
}

.container__brackets.active .div__brackets {
	opacity: 1;
	margin-top: -40px;
	z-index: 1;
}

.container__brackets.active .div__brackets .brackets {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	font-size: x-large;
	transition: 0.5s;
}

.brackets:hover {
	transform: scale(150%);
}

.container__brackets:hover.active .icon__brackets {
	transform: none;
}

.separation {
	width: 4px;
	margin-top: 6px;
	border-radius: 1.625rem;
	background: #fff;
	transition: 2s;
}

/*=============== LIGHT MODE ===============*/

body.light .calculator .value {
	color: #333;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.75);
}

body.light ::placeholder {
	color: #757575;
}

body.light ::selection {
	background-color: rgba(78, 76, 76, 0.3);
}

body.light .calculator .touch {
	color: #333;
}

body.light .calculator .touch.clear,
body.light .calculator .touch.equal {
	color: #fff;
}

body.light .calculator .clear,
.calculator .clear {
	grid-column: span 2;
	width: 180px;
	background: #f00;
}

body.light .calculator .equal,
.calculator .equal {
	background: #21f3ad;
}

body.light .separation {
	background: #333;
	transition: 2s;
}