@import '/css/general.css';
@import '/css/theme__btn.css';
@import '/css/anime.css';

.container__btn {
	display: flex;
	justify-content: center;
}

a {
	position: relative;
	width: 208px;
	height: 208px;
	margin: 2rem;
}

.btn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 200px;
	height: 200px;
	inset: 2px;
	z-index: 2;
	border-radius: 1.25rem;
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(255, 255, 255, .3);
	background-color: rgba(255, 255, 255, .3);
	box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	color: #fafafa;
	font-size: 1.5em;
	cursor: pointer;
	transition: 0.5s;
}

lord-icon {
	position: inherit;
	width: 110px;
	height: 110px;
	transition: 0.5s;
}

#icon__math,
#icon__game {
	margin-bottom: 1.25rem;
}

a:hover lord-icon {
	transform: translateY(-20px);
}

.name {
	margin-top: 60px;
	opacity: 0;
	transition: 0.5s;
}

a:hover .name {
	opacity: 1;
}

img {
	position: absolute;
	z-index: -1;
	pointer-events: none;
}

.img__math {
	top: -90px;
	right: -50px;
	transform: rotate(-5deg);
}

.img__weather {
	top: -150px;
	left: -145px;
	transform: scale(150%);
}

.img__game {
	bottom: -80px;
	left: -70px;
	transform: rotate(35deg);
}

/*=============== MEDIA SCREEN ===============*/

@media screen and (max-width: 1024px) {

	.container__btn {
		position: absolute;
		bottom: 120px;
		flex-direction: column;
	}

	.img__math {
		top: -190px;
	}

	.img__game {
		top: -80px;
	}

}