@import '/css/btnLight.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	text-decoration: none;
	list-style: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #333;
	min-height: 100vh;
	transition: 0.5s;
	overflow: hidden;
}

.container__Btn {
	display: flex;
	justify-content: center;
}

a {
	position: relative;
	width: 208px;
	height: 208px;
	margin: 2rem;
}

.btn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 200px;
	height: 200px;
	border-radius: 1.25rem;
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(255, 255, 255, .3);
	background-color: rgba(255, 255, 255, .3);
	box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	color: #fafafa;
	font-size: 1.5em;
	cursor: pointer;
	inset: 2px;
	z-index: 2;
	transition: 0.5s;
}

body.light,
body.light .btn {
	background: #fafafa;
	color: #333;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
		5px 5px 30px rgba(0, 0, 0, 0.05),
		inset -2px -2px 5px rgba(0, 0, 0, 0.1),
		inset 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.btn:hover {
	color: #DBBDFF;
}

body.light .btn:hover {
	color: #DBBDFF;
}

i {
	position: inherit;
	transition: 0.5s;
}

.name {
	margin-top: 60px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	opacity: 0;
	transition: 0.5s;
}

#game {
	margin-top: 50px;
}

a:hover i {
	transform: translateY(-20px);
}

a:hover .name {
	opacity: 1;
}

.img__math,
.img__weather,
.img__game {
	position: absolute;
	z-index: -1;
}

.img__math {
	top: -90px;
	right: -50px;
	transform: rotate(-5deg);
}

.img__weather {
	top: -150px;
	left: -145px;
	transform: scale(150%);
}

.img__game {
	bottom: -80px;
	left: -70px;
	transform: rotate(35deg);
}

@media screen and (max-width: 1024px) {

	.container__Btn {
		flex-direction: column;
	}

	.img__math {
		top: -190px;
	}

	.img__game {
		top: -80px;
	}

}