.container__btn {
	position: absolute;
	left: 1px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.nav__btn {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 20px;
}

.btn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100px;
	height: 100px;
	inset: 2px;
	z-index: 2;
	border-radius: 1.25rem;
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(255, 255, 255, .3);
	background-color: rgba(255, 255, 255, .3);
	box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	color: #fafafa;
	font-size: 1em;
	cursor: pointer;
	transition: 0.5s;
}

#icon__menu,
#icon__math,
#icon__weather,
#icon__game {
	position: inherit;
	width: 60%;
	height: 60%;
	transition: 0.5s;
}

.nav__btn:hover #icon__menu,
.nav__btn:hover #icon__math,
.nav__btn:hover #icon__weather,
.nav__btn:hover #icon__game {
	transform: translateY(-20px);
}

.name {
	margin-top: 40px;
	opacity: 0;
	transition: 0.5s;
}

.nav__btn:hover .name {
	opacity: 1;
}

/*=============== MEDIA SCREEN ===============*/

@media screen and (max-width: 1024px) {

	.container__btn {
		bottom: -10px;
		left: 0;
		flex-direction: row;
		width: 100%;
	}

	.btn {
		width: 80px;
		height: 80px;
		font-size: 0.825em;
	}

	.nav__btn:hover #icon__menu,
	.nav__btn:hover #icon__math,
	.nav__btn:hover #icon__game {
		transform: translateY(-15px);
	}

	.nav__btn:hover #icon__weather {
		transform: translateY(-10px);
	}

	.name {
		margin-top: 30px;
	}

}