.theme__btn__reveal {
	position: absolute;
	top: 10px;
	right: 1px;
	z-index: 1;
}

.theme__btn {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 0.625rem;
	font-size: 1.5em;
	cursor: pointer;
	transition: 0.5s;
}

.theme__btn:hover {
	transform: rotate(360deg);
}

.theme__btn strong {
	position: inherit;
	height: 36px;
	opacity: 0;
	transition: 0.5s;
}

.theme__btn strong:nth-child(1) {
	opacity: 1;
	color: #df9100;
	animation: color-sun 5s infinite linear;
}

/*=============== KEYFRAMES ===============*/

@keyframes color-sun {
    10% {
        color: #dfdf13;
    }

    35% {
        color: #df9100;
    }

    70% {
        color: #dfdf13;
    }

    100% {
        color: #df9100;
    }
}

@keyframes color-moon {
    5% {
        color: #deeaef;
    }

    35% {
        color: #4b4453;
    }

    70% {
        color: #deeaef;
    }

    99% {
        color: #4b4453;
    }
}

/*=============== LIGHT MODE ===============*/

body.light .theme__btn strong:nth-child(1) {
	opacity: 0;
}

body.light .theme__btn strong:nth-child(2) {
	opacity: 1;
	color: #4b4453;
	animation: color-moon 5s infinite linear;
}