.theme__btn {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	font-size: 1.5em;
	cursor: pointer;
	border-radius: 0.625rem;
	transition: 0.5s;
}

.theme__btn:hover {
	transform: rotate(360deg);
}

.theme__btn strong {
	position: inherit;
	opacity: 0;
	height: 1.5rem;
	transition: 0.5s;
}

.theme__btn strong:nth-child(1) {
	opacity: 1;
}

body.light .theme__btn strong:nth-child(1) {
	opacity: 0;
}

body.light .theme__btn strong:nth-child(2) {
	opacity: 1;
}