body {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}

.home {
    position: absolute;
    top: 10px;
    left: 10px;
    color: whitesmoke;
    transition: 0.5s;
}

.credit {
    position: absolute;
    bottom: 10px;
    color: whitesmoke;
    transition: 0.5s;
}

.home:hover,
.credit:hover {
    transform: scale(110%);
}