@import "/css/theme-btn.css";
@import "/css/weather-icon.css";

/*=============== GENERAL ===============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: #100e0e;
  transition: 0.5s;
}

/*=============== HEADER ===============*/

header {
  display: flex;
  width: 100%;
  padding: 1rem;
}

/*=============== ANIME TEXT ===============*/

.container__anime {
  perspective: 1000px;
  text-align: center;
}

.container__anime h1 {
  display: inline-flex;
  transform-style: preserve-3d;
  font-size: 4em;
}

.container__anime h1 span {
  pointer-events: none;
  transition: 0.5s;
}

/*=============== FORM ===============*/

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}

form {
  border-radius: 2rem;
  box-shadow: 0 8px 32px 0 rgba(175, 175, 176, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#time_container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 0;
}

#search_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
  overflow: hidden;
}

#search_input {
  width: 100%;
  height: 40px;
  padding-left: 0.625rem;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5em;
}

::placeholder {
  color: rgb(224, 223, 223);
  transition: 0.5s;
}

::selection {
  background-color: rgba(255, 255, 255, 0.3);
}

#search_btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

#search_btn_txt {
  width: 0px;
  margin-left: 0.25rem;
  font-size: 1.5em;
  transition: 0.5s;
}

#search_btn:hover #search_btn_txt {
  width: 60px;
  margin-right: 0.625rem;
}

/*=============== DATA ===============*/

.container__data {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 420px;
  height: 500px;
}

.info__data,
a {
  transition: 0.5s;
}

.info__data__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.info__data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  text-transform: capitalize;
}

#city {
  font-size: 3em;
}

#desc {
  font-size: 1.5em;
}

.container__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.data {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
}

#icon__humidity,
#icon__wind {
  width: 80px;
  height: 80px;
}

/*=============== BUBBLE ===============*/

.bubble {
  position: absolute;
  border: 1px solid rgba(12, 88, 194, 0.769);
  border-radius: 50%;
  background-image: linear-gradient(to left top, #42c3fb, #00b2fd, #009ffe, #008bfb, #0075f4, #1669f2, #2a5dee, #3b4fe9, #5149eb, #6542ec, #7639ec, #872deb);
  box-shadow: 10px 10px 60px -8px rgb(121, 107, 192);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  opacity: 0.7;
  transition: all 0.5s ease;
  z-index: -1;
}

#bubble-1 {
  width: 130px;
  height: 130px;
  top: -30px;
  right: -30px;
}

#bubble-2 {
  width: 110px;
  height: 110px;
  top: 100px;
  left: -40px;
}

#bubble-3 {
  width: 40px;
  height: 40px;
  top: 190px;
  left: 90px;
}

#bubble-4 {
  width: 140px;
  height: 140px;
  bottom: 30px;
  right: -40px;
}

#bubble-5 {
  width: 80px;
  height: 80px;
  bottom: -30px;
  right: 210px;
}

/*=============== FOOTER ===============*/

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
  color: #fff;
}

/*=============== LIGHT MODE ===============*/

body.light {
  background: url(/assets/daytime.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*=============== MEDIA SCREEN ===============*/

@media screen and (max-width: 1024px) {
  .container__anime {
    top: 90px;
  }

  .container__anime h1 {
    font-size: 4em;
  }
}
